## Introduction to Pandas

In [1]:
import pandas as pd

In [4]:
df_car = pd.read_csv("car-sales.csv")

# Take the subset of the dataframe

In [11]:
df_car_make_colour = df_car[["Make","Colour"]]

In [12]:
df_car_make_colour

     Make Colour
0  Toyota  White
1   Honda    Red
2  Toyota   Blue
3     BMW  Black
4  Nissan  White
5  Toyota  Green
6   Honda   Blue
7   Honda   Blue
8  Toyota  White
9  Nissan  White

In [13]:
df_car

     Make Colour  Odometer (KM)  Doors       Price
0  Toyota  White         150043      4   $4,000.00
1   Honda    Red          87899      4   $5,000.00
2  Toyota   Blue          32549      3   $7,000.00
3     BMW  Black          11179      5  $22,000.00
4  Nissan  White         213095      4   $3,500.00
5  Toyota  Green          99213      4   $4,500.00
6   Honda   Blue          45698      4   $7,500.00
7   Honda   Blue          54738      4   $7,000.00
8  Toyota  White          60000      4   $6,250.00
9  Nissan  White          31600      4   $9,700.00

# Filter the Dataframe

In [15]:
df_car.max("Price")

ValueError: No axis named Price for object type DataFrame